@import url(./_theme/section-subtitle_theme_dark.css);
@import url(./_video/section-subtitle_video_subtitle.css);
.section-subtitle {
  padding: 0;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 auto 60px auto;
}
