.page {
   min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position: relative;
  display: flex;
  margin: auto;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  /* parameters for the header section */
}
.logo {
  z-index: 1;
}

.logo_place_header {
  position: absolute;
  width: 154px;
  height: 31px;
  top: 30px;
  left: 64px;
}
.header__title {
  width: 730px;
  align-self: center;
  margin-left: 64px;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  position: absolute;
  z-index: 2;
  width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-ilustration {
  position: absolute;
  width: 756px;
  height: 608px;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.header__square {
  position: absolute;
  height: 568px;
  width: 568px;
  background-color: #2F80ED;
  top: 64px;
  right: 0;
}

/* css for the "main" class */
.content {
  position: relative;
  display: flex;
  flex-direction: column;
}

/*css for "description" section */
.description {
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 100px 0px;
}
.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2F80ED;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
}
.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 30px 0;
}
.two-columns__paragraph:last-of-type{
  margin-bottom: 0px;
}
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

/*css for "digits" section*/
.digits {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 100px 0;
}

.section-title {
  width: 60%;
  text-align: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  margin: 0 auto 20px auto;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 auto 60px auto;
}

.table {
  width: 1100px;
  padding: 0px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.table__cell {
  padding: 0px;
  list-style: none;
  width: 250px;
  margin: 0;
}
.table__cell:nth-child(-n+4){
  margin-bottom: 60px;
}
.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 20px 0;
}
.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}
.table__text:nth-of-type(2n+2) {
  margin-top: 20px;
}


/* css for "feynman" section */
.feynman {
  display: flex;
  position: relative;
  min-height: 790px;
  width: 100%;
  align-self: center;
  flex-direction: column;
  background-color: #f2f2f2;
}
.feynman__title {
  width: 775px;
  align-self: center;
  margin: 100px 0 70px 0;
  z-index: 1;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;

}

.feynman__subtitle {
  display: flex;
  align-self: center;
  z-index: 1;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #2f80ed;
  margin: 0;
}
.feynman__background-img {
  position: absolute;
  width: 867px;
  height: 637px;
  background-image: url(../images/feynman.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  left: 0px;
  bottom: 0px;
}

/*css for "kaufman" section*/
.kaufman {
  overflow: hidden;
  display: flex;
  position: relative;
  flex-flow: column;
  align-self: center;
  background-color: #1f1f1f;
  width: 100%;
}
.section__title_theme_dark {
  margin: 90px auto 20px auto;
  z-index: 2;
  color: #f2f2f2;
  text-align: center;

}

.section__subtitle_theme_dark {
  margin: 0 auto;
  color: #f2f2f2;
}

.table_theme_dark {
z-index: 1;
margin-bottom: 90px;
}
.table__cell_theme_dark {
  width: 200px;
}
.table__cell_theme_dark:nth-child(-n+5) {
margin: 80px 0;
}
.table-cell__heading_theme_dark {
color: #f2f2f2;
}
.table-cell__heading_theme_dark:first-child{
  margin-bottom: 20px;
}
.table-cell__text_theme_dark {
color: #f2f2f2;
margin: 0;
}
.kaufman__triangle {
  position: absolute;
  display: flex;
  width: 660px;
  height: 636px;
  right: -124px;
}



/* css for footer*/

.footer {
  color: #f2f2f2;
  background-color: #1f1f1f;
  min-height: 350px;
  display: flex;
  justify-content: center;
}
.footer__columns {
  margin: 60px 0 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__columns:only-child {
  width: 90%;
}
.footer__column_content_copyrigth {
  flex-basis: 711px;
  margin: 0;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.logo_place_footer {
  width: 183px;
  height: 35px;
}
.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0 18px 0;
}

.footer__column_content_about {
  flex-flow: column;
  margin: 0;
  justify-content: flex-start;
}
.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.column__heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.footer__column_content_social {
  flex-flow: column;
  margin: 0;
  justify-content: flex-start;
}
.footer__column-link {
  text-decoration: none;
  color: #f2f2f2;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
.footer__social-icons {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
